// Import Google fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Be Vietnam:400,800');

// Define fonts for body and headers
//  $body-font: "Work Sans", "Helvetica", "sans-serif";
//  $headers-font: "Nunito", "Helvetica", "sans-serif";

 $body-font: 'Be-Vietnam', 'sans-serif';
 $headers-font: 'Be-Vietnam-Bold', 'sans-serif';

 @font-face {
  font-family: 'Be-Vietnam';
  src: asset-url('BeVietnam-Regular.ttf')
}

@font-face {
  font-family: 'Be-Vietnam-Medium';
  src: asset-url('BeVietnam-Medium.ttf')
}

@font-face {
  font-family: 'Be-Vietnam-SemiBold';
  src: asset-url('BeVietnam-SemiBold.ttf')
}

@font-face {
  font-family: 'Be-Vietnam-Bold';
  src: asset-url('BeVietnam-Bold.ttf')
}

@font-face {
  font-family: 'Be-Vietnam-ExtraBold';
  src: asset-url('BeVietnam-ExtraBold.ttf')
}

// font-family: 'Be Vietnam Pro', sans-serif;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
