<div class="d-flex general">
  <%= render "shared/sidebar" %>
    <div class="content">
      <%= render "shared/navbar_dashboard" %>
      <div class="px-5 py-3">
          <%= link_to "Nueva venta", orders_path, method: "post", class: "btn btn-primary m-3" %>
          <%= render "shared/unconfirmed_orders" %>
      </div>
    </div>
</div>
