<div id="wrapper">
  <%= render "shared/sidebar" %>

  <div id="content-wrapper" class="d-flex flex-column">

    <div id="content">

      <%= render "shared/topbar" %>

      <div class="container-fluid">

        <%= link_to "Nueva venta", orders_path, method: "post", class: "btn btn-primary m-3" %>
        <div class="row">

          <%= render "shared/unconfirmed_orders" %>

        </div>

      </div>

    </div>

  </div>

</div>
