<tr>
  <td class="font-weight-bold text-muted"><%= item.quantity %> und</td>
  <td class="text-muted"><%= item.product.name.upcase %><span class="dotted-line"><%= "." * 50 %></span></td>
  <td class="text-muted">S/ <%= item.product.cost %></td>
</tr>
