.btn-login {
  background-color: #F20F38;
  width: 100%;
  border-radius: 4px;
  color: white;
}


.btn-actions {
  font-size: 0.875rem;
  background-color: #fccfd7;
  font-weight: bold;
  color: rgb(255, 0, 0);
  border-radius: 6px;
  padding: 8px 14px;
  transition: background-color 0.4s;

  &:hover {
    background-color: #fda5b5;
    color: rgb(255, 0, 0);
  }
}
