.btn-login {
  background-color: #F20F38;
  width: 100%;
  border-radius: 4px;
  color: white;

}


.btn-actions {
  font-size: 12px;
  background-color: #fccfd7;
  // font-weight: bold;
  font-family: "Be-Vietnam-Bold";
  color: #F20F38;
  border-radius: 6px;
  padding: 8px 14px;
  transition: background-color 0.4s;

  &:hover {
    background-color: #fda5b5;
    color: #F20F38;
  }
}

.no-stock-btn {
  font-size: 12px;
  background-color: #fccfd7;
  // font-weight: bold;
  font-family: "Be-Vietnam-Bold";
  color: #F20F38;
  border-radius: 6px;
  padding: 8px 14px;
  opacity: 0.45 !important;

  &:hover {
    color: #F20F38;
  }
}

.btn-actions-active {
  background-color: #d3d3d3;
  color: black;

  &:hover {
    background-color: #d3d3d3;
    color: black;
  }
}

.low-stock, .normal-stock {
  display: inline-block;
  margin: 0;
  font-size: 0.875rem;
  border-radius: 6px;
  // font-weight: bold;
  font-family: "Be-Vietnam-Bold";
  width: 90px;
  padding: 6px 16px;
}

.normal-stock {
  color: #013440;
  border: 2px solid #013440;
}

.low-stock {
  color: white;
  background-color: #F4555A;
}

// #F4555A boton stock rojo
// #013440 boton stock normal
.btn {
  font-size: 16px !important;
  font-weight: 500 !important;
}


// Cambios para estilos de bootstrap en el formulario
//cambio color de check
.form-control.is-valid {
  // border-color: #013440 !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23F20F38' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}
// cambio color de invalido
.form-control.is-invalid {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23F20F38' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23FD1015' stroke='none'/%3e%3c/svg%3e");
}

.invalid-feedback {
  color: #F87B92;
}

abbr[title], abbr[data-original-title] {
  text-decoration: none;

}
abbr, accronym {
  // border-bottom: 0px;
  display: none;
}

.bg-red-text-white-bold {
  font-family: 'Be-Vietnam-Medium';
  background-color: #F20F38;
  color: white;
  transition: 0.4s;

  &:hover {
    color: white;
    background-color: #e92d4f;
  }
}

.bg-blue-text-white-bold {
  background-color: #013440;
  font-family: 'Be-Vietnam-Medium';
  color: white;
  transition: 0.4s;

  &:hover {
    color: white;
    background-color: #184650;
  }

}

.confirm-cancel-btn-padding {
  padding: 0.1rem 1rem;
}

// botones generales
.btn-confirm {
  font-family: "Be-Vietnam-Bold";
  background-color: #013440;
  border-radius: 4px;
  width: 20%;
  color: white;
}

.btn-cancel {
  font-family: "Be-Vietnam-Bold";
  background-color: #F20F38;

  // border-color: #F20F38;
  // border-width: 2px;
  border-radius: 4px;
  width: 20%;
  color: white;

  // &:hover {
  //   background-color: #F20F38;
  //   color: white;
  // }
}

.btn-new-product{
  font-family: "Be-Vietnam-Bold";
  text-decoration: none;
  background-color: #013440;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  transition: background-color 0.5s;

  &:hover {
    text-decoration: none;
    background-color: #184650;
    color: white;
  }

  i {
    font-size: 13px;
  }
}
