.container-all {
  border: 1px solid black;
  margin: 70px 70px 40px 135px;

}

.container-card {
  width: 85%;
  margin: 90px auto;
  border-radius: 10px ;
  height: 460px;
  width: 900px;
  background-color: white;
}

.card-product {
  display: flex;
}

.image-product {
  width: 60%;
  img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px 0px 0px 10px;
    height: 460px;
  }
}


.info-product {
  // display: flex;
  flex-grow: 1;
  // align-items: center;
  // justify-content: center;
  // width: 70%;
  text-align: left;
  padding: 55px 70px;
  h1 {
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 0px;
  }
  h2 {
    font-weight: bold;
    font-size: 45px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
  .stock {
    background-color: #d1d1d1;
    padding: 3px 15px;
    margin: 0px;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 50px;
    // width: 50%;
  }
  .size {
    background-color: #d1d1d1;
    padding: 2px 15px;
    margin: 0px;
    display: block;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 50px;
    text-align: center;
    font-weight: bold;
  }
  .category {
    font-weight: bold;
  }
}



// Containers from forms

.container-form {
  width: 85%;
  margin: 90px auto;
  border-radius: 10px ;
  height: 460px;
  width: 900px;
  background-color: #f8f7f7;
}


.image-form {
  width: 40%;
  img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px 0px 0px 10px;
    height: 460px;
  }
}

.form-control {
  border: 0px solid #ced4da !important;
  &:focus {
    border: 0px solid #dddddd !important;
    box-shadow: 0 0 0 0.2rem rgba(230, 230, 230, 0.25);
  }
}
.form-input {
  label {
    font-weight: bold;
    color: #013440;
  }

}

.form-check {
  display: flex;
  align-items: stretch;

  label {
   font-weight: normal;
   margin-bottom: 1px;
   font-size: 14px;
 }
}

.user_password {
  margin: 1px;
}

.info-form {
  // display: flex;
  flex-grow: 1;
  // align-items: center;
  // justify-content: center;
  // width: 70%;
  text-align: left;
  padding: 55px 70px;
  h1 {
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 0px;
  }
  h2 {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}

// Container for index Product
