.charts-container {
  // margin-top: 11rem;
  min-height: 450px;

  .line-chart, .pie-chart {
    display: flex;
    align-items: center;
  }
}

.stock-alert {
  color: #F20F38;
}

.dashboard-table {
  font-size: 14px;
  width: 95%;
  border-collapse: separate;
  border-spacing: 0 1em;

  td {
    // padding: 16px 12px;
    max-height: 55px;
    padding: 0;
  }

  tr td:first-child {
    border-radius: 10px 0 0 10px;
  }

  tr td:first-child img {
    // object-fit: cover;
  }

  tbody tr {
    max-height: 55px;
    // border-bottom: 1px solid #c3c3c3;
    // background-color: white;
  }

  .name-column {
    color: #4e4e4e;
  }

  .column-info {
    min-width: 120px;
    text-align: center;
    vertical-align: middle;
  }
}

.filter-products {
  width: 80%;
  margin: 0 auto;
  text-align: end;
}
