// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "table";
@import "sidebar";
@import "dashboard";
@import "buttom";
@import "img";
@import "membresias";
@import "charts";
@import "dashboards_cards";
@import "border";
@import "text";
