.nav-link{
  color: white !important;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-family: "Be-Vietnam-Bold";
  &:hover {
    color: #F20F38;
  }
}

.registration {
  text-align: center;
  background-color: rgba(1, 52, 64, 0.3);
  // width: 120px;
  // height: 45px;
  border-radius: 10px;
  color: white !important;
  transition: background-color 0.3s;
}
.registration:hover {
  background-color: #F20F38;
  color: white !important;
}


.login {
  text-align: center;
  // background-color: #D9D9D9;
  background-color: rgba(1, 52, 64, 0.3);
  // width: 120px;
  // height: 45px;
  border-radius: 10px;
  color: white !important;
  transition: background-color 0.3s;
}
.login:hover {
  background-color: #F20F38;
  color: white !important;
}



// Cuando se inicio sesion

.navbar-test {
  display: flex;
  justify-content: end;
  width: 100%;
  height: 80px;
  align-items: center;
  padding: 10px 20px;

  .buttom-user {
    border: none;
    background: none;
    // width: 10px;
    padding: 0px;
    display: flex;
    gap: 7px;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }
}
