#navbar-home-page .container-fluid {
  padding: 0 4rem;

  ul.navbar-nav {
    gap: 65px;
  }
}

.navbar-light .navbar-nav a.link-section {
  color: white !important;
  font-size: 1.2rem;
  font-family: "Be-Vietnam-SemiBold";
}

.navbar-button {
  display: inline-block;
  font-family: "Be-Vietnam-Bold";
  text-align: center;
  vertical-align: center;
  background-color: #eeeeeee0;
  width: 90px;
  border-radius: 10px;
  color: black !important;
  transition: 0.2s;
  margin-left: 20px;
}

.navbar-button:hover {
  background-color: #F20F38;
  color: white !important;
}
