.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}




// Cuando se inicio sesion
.buttom-user {
  border: none;
  background: none;
  // width: 10px;
  padding: 0px;
  display: flex;
  gap: 7px;
  justify-content: space-between;
  align-items: center;
}