.search-products-section {
  // height: 70vh;
  // min-height: 700px;
  // max-height: 90vh;
}

.items-section {
  // min-height: 60vh;
  // min-height: 685px;
  // max-height: 60vh;
}

.confirm-cancel-section {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.color-red-bold {
  font-family: 'Be-Vietnam-Bold';
  color: #F20F38;
}

.section-order-container {
  gap: 1rem;

  h2, p {
    color: #013440;
    font-family: 'Be-Vietnam-Bold';
    margin: 0;
  }

  .customer-name {
    font-size: 2.7rem;
  }

  .search-input-container {
    padding-right: 1.9rem;
  }

  .search-input {
    background-color: #f3f3f3;
    color: #C4C4C4;
  }

  .items-section-container {
    background-color: #E3E9EA;
    border-radius: 0.625rem;
    padding: 2rem;
  }

}

.search_results, .items-table-container {
  position: relative;
  overflow-y: auto;
  max-height: 70vh;
}

.search_results::-webkit-scrollbar {
  position: absolute;
}

.items-table-container {

  // display: flex;
  // flex-grow: 1;
  height: 52vh;
  background-color: white;
  padding: 1rem 2rem;
}

.white-table-section {
  background-color: white;
  border-radius: 0.625rem;
}

.total-price-section {
  padding: 0 2rem;
}

.search-card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 15px 0;
  border-radius: 6px;
  // max-width: 650px;
}

.product-quantity {
  padding: 10px;
  margin-left: auto;
}

.product-quantity form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.search-card h2 {
  font-size: 16px;
  opacity: .8;
  font-weight: bold;
  margin: 0;
}

.search-card p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .8;
  margin-bottom: 0;
  margin-top: 8px;
}

.search-card .search-card-infos {
  padding: 16px;
}



.items-table {
  background-color: white;

  tbody {
    overflow-y: auto;
    font-size: 0.94rem;

    tr {
      border-bottom: 1px solid #e3e6f0;
    }

  }

  tr td {
    padding: 0.45rem;
  }

  thead tr th {
    color: #013440;
    font-family: 'Be-Vietnam-Bold';
  }

  tr td:first-child {
    padding-left: 0;
    text-align: left;
    width: 240px;
    max-width: 240px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
  }

  td, tr {
    max-height: 55px;
  }

  tr th:not(:first-child), tr td:not(:first-child) {
    text-align: center;
    width: 110px;
    max-width: 120px;
  }

  tbody tr td:first-child, tfoot tr th {
    // width: 340px;
    // max-width: 350px;
  }

  // tfoot tr td {
  //   width: 150px;
  //   max-width: 160px;
  // }

  tfoot tr td, tfoot tr th {
    // font-size: 1.1rem;
  }

}
