
// .container-fluid {
//   padding-left: 165px;
// }
.sidebarMenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  // width: 9vw;
  width: 140px;
  background: #013440;
  padding: 0px 14px;
  z-index: 1;
  // width: var(--nav-width);
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .nav-logo {
    color: white;
    margin: 0px;
    text-align: center;
    justify-content: center;
    width: 95px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-link {
    color: white;
    margin: 0px;
    // justify-content: center;
    text-align: center;
    justify-content: center;
    width: 95px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // d-flex flex-column align-items-center
  }

  .nav-link:hover {
    background-color: #184650;
    border-radius: 10px;
    width: 95px;
    height: 80px;
  }
  .btn-sidebar {
   filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(110deg) brightness(98%) contrast(108%);
    width: auto;
    height: 20px;
  }
  p {
    font-size: 13px;
    margin: 0px;
  }
}
li {
  list-style: none;
  margin: auto;
}
ul {
  padding: 0;
}
// .sidebar {
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   z-index: 100; /* Behind the navbar */
//   padding: 48px 0 0; /* Height of navbar */
//   box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
//   width: 90px;
// }

// @media (max-width: 767.98px) {
//   .sidebar {
//     top: 5rem;
//   }
// }

// .sidebar-sticky {
//   position: relative;
//   top: 0;
//   height: calc(100vh - 48px);
//   padding-top: .5rem;
//   overflow-x: hidden;
//   overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
// }

// @supports ((position: -webkit-sticky) or (position: sticky)) {
//   .sidebar-sticky {
//     position: -webkit-sticky;
//     position: sticky;
//   }
// }

// .sidebar .nav-link {
//   font-weight: 500;
//   color: #333;
// }

// .sidebar .nav-link .feather {
//   margin-right: 4px;
//   color: #999;
// }

// .sidebar .nav-link.active {
//   color: #007bff;
// }

// .sidebar .nav-link:hover .feather,
// .sidebar .nav-link.active .feather {
//   color: inherit;
// }

// .sidebar-heading {
//   font-size: .75rem;
//   text-transform: uppercase;
// }

// .dashboard {
//   filter: invert(16%) sepia(31%) saturate(2582%) hue-rotate(158deg) brightness(88%) contrast(99%);
// }
// .name-sidebar {
//   font-size: 12px;
//   font-weight: medium;
// }

// https://codepen.io/sosuke/pen/Pjoqqp => para generador de filter que es utilizado para cambio de color en svg

