.products-table {
  min-width: 1050px;
  width: 100%;
  font-size: 15px;

  thead th {
    color: #013440 !important;
  }

  td {
    padding: 10px 0px;
  }

  tbody tr {
    border-bottom: 1px solid #c3c3c3;
  }

  .name-column {
    color: #4e4e4e;
  }

  .column-info {
    min-width: 120px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
  }
  .table-infos {
    font-size: 14px;
  }
}
.table-show{
  border-radius: 15px;
  border: 1px solid #013440;
}
.table-show td{
  padding-left: 0;
  padding-right: 0;
}
.font-weight-bold{
  color: #013440;
}
.text-center th {
  color: #013440;
}


img.detalles-svg {
  width: 25px;

  filter: invert(65%) sepia(21%) saturate(0%) hue-rotate(224deg) brightness(91%) contrast(86%);
  &:hover {
    filter: invert(14%) sepia(15%) saturate(5239%) hue-rotate(158deg) brightness(103%) contrast(99%);
  }
}

img.editar-svg {
  width: 20px;
  filter: invert(65%) sepia(21%) saturate(0%) hue-rotate(224deg) brightness(91%) contrast(86%);
  &:hover {
    filter: invert(29%) sepia(86%) saturate(7494%) hue-rotate(341deg) brightness(94%) contrast(102%);
  }
}