<div id="wrapper">

  <%= render "shared/sidebar" %>

  <div id="content-wrapper" class="d-flex flex-column">

    <div id="content">

      <%= render "shared/topbar" %>

      <div class="container-fluid">
        <h1>Editar Producto</h1>

        <%= render "shared/products_form_new" %>

      </div>

    </div>

  </div>
</div>
