<% content_for :meta_title, "Crear producto - #{DEFAULT_META["meta_product_name"]}" %>

<div id="wrapper">

  <%= render "shared/sidebar" %>

  <div id="content-wrapper" class="d-flex flex-column">

    <div id="content">

      <%= render "shared/topbar" %>

      <div class="container-fluid">

        <div class="container-form">
          <div class="info-form">
            <h2>Agrega un nuevo producto</h2>

            <%= render "shared/products_form_new" %>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
